<div class="paginate-scroller">
    <div class="paginate-nomore" ng-show="(tclick || tscroll) && noMore">
        {{$ctrl.config.noMoreMessage}}
    </div>
    <div ng-show="!loadingPage" class="paginate-more" ng-if="tclick && !noMore" ng-click="addResults()">
        {{$ctrl.config.pageMessage}}
    </div>
    <div ng-show="loadingPage" class="paginate-loader" ng-if="tclick" ng-show="loadingPage">
        {{$ctrl.config.loadingMessage}}
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
    </div>
    
    <!-- This is important!!! -->
    <ng-transclude style="overflow:hidden;"></ng-transclude>
    <!-- End importance -->

    <div ng-show="!loadingPage" class="paginate-more" ng-if="bclick && !noMore" ng-click="addResults()">
        {{$ctrl.config.pageMessage}}
    </div>
    <div ng-show="loadingPage" class="paginate-loader" ng-if="bclick" ng-show="loadingPage">
        {{$ctrl.config.loadingMessage}}
        <i class="fa fa-cog fa-spin" aria-hidden="true"></i>
    </div>
    <div class="paginate-nomore" ng-show="(bclick || bscroll) && noMore">
        {{$ctrl.config.noMoreMessage}}
    </div>
</div>
