<div style="border: 1px solid black;" class="paginate-scroller">

    <div ng-if="tclick && !noMore" style="background-color: gray;text-align:center; margin:10px; cursor:pointer;" ng-click="addResults()">
        {{$ctrl.pageMessage}}
        <div class="paginate-loader" ng-show="loading">Loading...</div>
    </div>
    <ng-transclude style="overflow:hidden;"></ng-transclude>
    <div ng-if="bclick && !noMore" style="background-color: gray;text-align:center; margin:10px; cursor:pointer;" ng-click="addResults()">
        {{$ctrl.pageMessage}}
        <div class="paginate-loader" ng-show="loading">Loading...</div>
    </div>
</div>
